<h2>
    <form method="POST" action="/new">
        <label for="user">Username:</label>
        <input type="text" name="user"><br><br>
        <label for="messsage">Message:</label>
        <input type="text" name="message"><br><br>
        <input type="submit" value="Submit">
    </form>
</h2>